<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>XCEED Electrical Dashboard</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/stylesheet.css">
    </head>
    <body>

        <header>
            <h1>XCEED ELECTRICAL</h1>
            <!-- this nav bar will contain the green accent, a sign in page as well as a staff support link (we'll see if this is good or not) -->
            <nav id="nav1">
                <ul>
                    <li> <a href="signInPage.php">Sign In</a></li>
                    <li> <a href="">Call Staff ph(xxxx xxx xxx)</a></li>
                </ul>
            </nav>
            <!-- This nav bar will be a second nav bar with the first having a green accent, reflecting that of the official site-->
            <nav id="nav2">
                <ul>
                    <li> <a href="Index.html">Home</a></li> <!-- we need to turn this 
                        section into a png of the xceed logo which will act as the home page-->
                    <li> <a href="quoteManagement.html">Quite Management</a></li>
                    <li> <a href="quoteSigning.html">Quote Signing</a></li>
                </ul>
            </nav>

        </header>

            <section id="columb 1">
                <h2>XCEED Electrical Quote Management system</h2>
                <h3>how it works</h3>
                <p>The xceed quote management system exists to simplify the quoting system and to transition it from the simple paper based solution to an all encounpasing web based soltion.</p>
                <p>This allows us to ensure that all of the data, customer management information and customer quoting logs are all archived to the main database</p>
            </section>

        
        <footer>
            <p>Copyright XCEED blah blah blah</p>  
        </footer>
    </body>
</html>